  <div id="container">
    <div id="header">
      <div class="headerbox">
        <img src="//hapyak_demos.s3.amazonaws.com/demos/shopyourway/Screen%20Shot%202014-12-31%20at%2011.03.11%20AM.png">
      </div>
      <div class="headerbox">
        <% if @user_profile_image %>
          <div id="profile-image">
            <img id="profileImage" src="<%= @user_profile_image %> onerror='handleImageErrors()';" height='70'>
          </div>
        <% end %>
        </div>
      <div class="headerbox">
        <div id="cart">
          <img src="//hapyak_demos.s3.amazonaws.com/demos/shopyourway/Screen%20Shot%202014-12-30%20at%203.20.18%20PM.png">
        </div>
        </div>
    </div>

  </div>
  <div id="background">
    <div id="heading">
      <!-- declared via greeting function  -->
      <% if @user_profile_name %>
        <div class="header-message">
          Want to see what Santa has for you,
        </div>
        <div class="header-message">
          <div id="user-name">&nbsp;<%= @user_profile_name %></div>
        </div>
        <div class="header-message">
          ?
        </div>
      <% else %>
        Want to see what Santa has for you?
      <% end %>
    </div>
    <div class="body-container">
      <div id="menu">

          <div id="picture-container">
            <% @products.shuffle.take(8).each do |product| %>
              <div class="product-image">
                <img src="<%= product['imageUrl']%>" height='75'>
              </div>
            <% end %>
          </div>

      </div>
    </div>
    <div class="body-container">
      <div id="video-container">
        <div class="video">
          <div id="hapyak-video-placeholder">
            <script type="text/javascript" src="//d2qrdklrsxowl2.cloudfront.net/js/hapyak.js"></script>
            <div style="width:720px;overflow:hidden;height:405px;position:relative;">
               <div id="hapyak-player-12737-6353"></div>
            </div>
          </div>
          <div id="welcome">
            <!-- Welcome message will appear when user engters email address -->
          </div>
          <div id="about-us">
            Enhanced by Hapyak
            <ul>
              <li>Dynamically generate targeted video campagins</li>
              <li>Indepth analytic reports help assist your team in analyzing the effectiveness of your video strategy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>

    function updateCart(){
      $('#cart').fadeIn('slow');
    }
    function welcome(email_address){
      $('#welcome').text("Great! You can find your catalogs waiting under, " + email_address + ".");
      $('#hapyak-video').delay(4000).fadeOut();
    }
    function greeting(name){
      if( !user_name ){
        $('#heading').text('Want to see what Santa has for you, ' + name + '?');
      }
    }
      $( "#profileImage" )
      .error(function() {
        console.log('fixing image now');
        $( this ).hide();
      })
      .attr( "src", "//hapyak_demos.s3.amazonaws.com/demos/shopyourway/default_profile.gif" );

    var sears_user_name = document.getElementById('user-name').innerHTML.trim();
    var sears_user_image = document.getElementById('profile-image').innerHTML.trim();

    window.onYouTubeIframeAPIReady = function() {
       var ytPlayer = new YT.Player("hapyak-player-12737-6353", {
           height: "405",
           width: "720",
           videoId: "1LQn5zb0ISs",
           playerVars: {
               controls: /(iPhone|iPad)/i.test(navigator.userAgent) ? 0 : 2,
               html: 1,
               playsinline: 1,
               autohide: 1,
               modestbranding: 1,
               rel: 0,
               fs: 0,
               showinfo: 0,
               wmode: "opaque"
           }
       });
       hapyak.viewer({
           apiKey: "9ce017788cae460fa172",
           projectId: 12737,
           css: "//hapyak_demos.s3.amazonaws.com/css/customer/shopyourway.css",
           resetVariables: true,
           player: ytPlayer,
           playerType: "youtube",
           width: 720,
           height: 405,
           autoplay: false,
            variables: {
              searsUser: sears_user_name,
              searsUserImage: sears_user_image
            },
       });
    };

  </script>
<script src="//www.youtube.com/iframe_api"></script>
