.hapyak-annotation-container .popcorn-pop.hapyak-theme-black {
  width: 138px !important;
  text-align: center;
  padding: 10px 0px;
  background: #FBFBFB;
  color: #8E8E8E;
  font-size: 24px;
}
.hapyak-annotation-container .popcorn-pop.hapyak-theme-black:hover {
  background: #56B3A8;
  color: #FFF;
  cursor: pointer;
}
#hapyak-video_2{
  display: none;
}
