  #container {
    background-color: #FFF;
    font-size: 12px;
    color: #207d98;
    width: 1100px;
    margin: 0 auto;
  }
  .body-container{
    display:inline-block;
    vertical-align: top;
  }
  #menu {
    display: inline-block;
    width: 400px;
    height: 100px;
    color: #375500;
    font-size: 18px;
    padding: 50px;
  }
  #video-container {
    display: inline-block;
    vertical-align: top;
  }
  .video {
    margin-bottom: 60px;
  }
  h2 {
    color: #69A2BC;
    font-family: 'Avalon-Book';
  }
  #add-to-cart{
    width: 150px;
    height: 50px;
    float: right;
    right: 230px;
    top: 70px;
  }
  .shopping {
    height:30px;
    width: 72px;
    display:inline-block;
    vertical-align: top;
  }
  #shopping-bag{
  }
  #shopping-bag-image{
    margin: 0 auto;
    display: none;
    float: right;
  }
  #shopping-stars-image{
    margin-top: -5px;
    margin: 0 auto;
    display: none;
  }
  #shopping-bag-count{
    margin-top: 5px;
  }
  #header{
    width: 1300px;
    height: 60px;
  }
  .headerbox{
    display: inline-block;
  }
  #cart{
    height: 50px;
    margin-top: -40px;
    display: none;
  }
    #welcome{
      height: 20px;
      padding: 10px;
      color: #375500;
      margin-top: 30px;
      margin-left: 100px;
    }
    #picture-container{
      width: 700px;
      height: 75px;
      margin-top: 10px;
      padding: 10px;
    }
    .product-image{
      width: 75px;
      height: 75px;
      background: #FFF;
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
      float: right;
    }
    #background{
      width: 1440px;
      height: 761px;
      background-image: url('https://hapyak_demos.s3.amazonaws.com/demos/shopyourway/Screen%20Shot%202014-12-29%20at%2012.42.37%20PM.png');
      background-size: contain;
    }
    #heading {
      width: 800px;
      height: 50px;
      padding: 50px;
      color: #375500;
      font-size: 24px;
    }
#json-hash{
  background-color: red;
}
